.container{
    width: 370px;
    height: 470px;
    border: 1px solid #E4E4E7;
}
.container-content{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
    width: 350px;
    height: 200px;
}
.container-content h3{
    font-size: 25px;
    margin: 0%;
}
.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #E4E4E7;
}

.box-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3rem;
    gap: 0.5rem;  
}


.anchor a{
    text-decoration: none;
    color: #54BD95;
    text-align: left;
}